body{
    margin: 0px;
    text-align:center;
    background-color:#cbcbcb !important;
}

h2{
    font-family: sans-serif;
    text-align: center;
    /* margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px; */
    line-height: 10px;
    font-size: 20px;
}

h3{
    font-family: sans-serif;
    text-align: center;
    color: #808080;
    /* margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px; */
    line-height: 10px;
    font-size: 15px;
}

.topnav {
    overflow: hidden;
    background-color: #333333;
}

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: 'Tw Cen MT';
    }

        .topnav a:hover {
            background-color: #808080;
            color: black;
        }

.active {
    background-color: #80f6d9;
    color: black;
}

.topnav .icon {
    display: none;
}

header{
    font-family:'Tw Cen MT';
    color: white;
    font-size: 40px;
}

p{
    font-family:'Tw Cen MT';
    color:white;
    font-size:20px;
}

.floating-box{
    display: inline-block;
    width: 400px;
    height: 350px;
    margin: 20px;
    border: 3px solid #f2f2f2;
}

table {
    border-collapse: collapse;
}

table.center {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}
/* tr:nth-child(even) {background-color: #f2f2f2;} */

/* table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 50%;
    position: center;
}

th {
    height: 50px;
} */

button{
    background-color: #9bef2e;
    color: white;
    padding:14px 20px;
    margin: 8px 0;
    border: none;
    cursor:pointer;
    width:10%;
}

button:hover{
    opacity:0.6;
}

.returntohomebtn{
    width:auto;
    padding:14px 40px;
    background-color:#ff0000;
}

.container{
    padding: 16px;
    font-family: 'Tw Cen MT';
    font-size:20px;
    color:white;
    line-height:200%;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
}
