body {
    text-align: center;
    background-color: #cbcbcb !important;
    margin: 0px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: white;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
}

p {
    font-family: 'Tw Cen MT';
    font-size: 30px;
    color: #b77dc4;
}


.topnav {
    overflow: hidden;
    background-color: #333333;
}

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: 'Tw Cen MT';
    }

        .topnav a:hover {
            background-color: #808080;
            color: black;
        }

.active {
    background-color: #80f6d9;
    color: black;
}

.topnav .icon {
    display: none;
}

button {
    background-color: #9bef2e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

    button:hover {
        opacity: 0.6;
    }

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
}
